APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=tasks
DATABASE_USER=tasks_user
DATABASE_PASSWORD_FILE=/run/secrets/db_password

POSTGRES_DB=tasks
POSTGRES_USER=tasks_user